<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
	layout:decorator="template1">
<head>
<meta charset="utf-8" />
<title>Account</title>
<script>
	$(document).ready(function() {
		$(".nav li").removeClass('active');//this will remove the active class from  
		//previously active menu item 
		$('#CheckAccount').addClass('active');

	});
</script>


</head>
<body>
	<div layout:fragment="content">
		<div class="container">


			<div class="row">
				<div class="col-md-6 offset-md-3">

					<div class="card ">
						<div class="card-header h4 text-center py-4 text-white bg-info">Check
							Account</div>
						<div class="card-body">
							<form th:action="@{/checkAccount}" method="get">
								<div>
									<label class="font-weight-light col-form-label">Account
										code </label> <input type="text" name="AccountCode" />
									<button type="submit" class="btn btn-primary">check</button>
								</div>
								<div th:if="${exception}" class="text-danger">Account
									doesn't exist</div>
							</form>

						</div>
					</div>

				</div>


			</div>
		</div>
	</div>
</body>


</html>